<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- the meta tags must come first -->

    <title><%= @title %></title>

    <link href="/style.css" rel="stylesheet">
    <%= @head %>
  </head>
  <body>
    <header>
      <h1>
	<img src="/logos/brass-bull.png"/>
	<img src="/header-path.svg" alt="4272 Maverick Boiler Robotics"/>
      </h1>
      <nav>
	<ul>
	  <li><a href="/">Home</a></li>
	  <li><a href="javascript:">Collaboration Tools</a>
	    <ul>
	      <li><a href="https://git.team4272.com/">Git</a></li>
	      <li><a href="https://owncloud.team4272.com/">ownCloud</a></li>
	      <li><a href="https://ethercalc.team4272.com/">EtherCalc</a></li>
	    </ul>
	  </li>
	  <li><a href="javascript:">Safety</a>
	    <ul>
	      <li><a href="/safety">Safety App</a></li>
	      <li><a href="https://scratch.mit.edu/projects/142356798/">Safety Game</a></li>
	    </ul>
	  </li>
	  <li><a href="https://facebook.com/MBR4272">Facebook</a></li>
	  <li><a href="https://twitter.com/Team4272">Twitter</a></li>
	</ul>
      </nav>
    </header>
    <article>
      <%= @body %>
    </article>
    <footer>
      <%= @footer %>
    </footer>
  </body>
</html>
