$maroon: #8a181a;
$gold: #e5b217;

$main-radius: 1.5em;

body {
	background-color: #111111;
}

body > * {
	box-sizing: border-box;
	max-width: 8in;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: $main-radius;
	overflow: hidden;
}

body > header {
	text-align: center;
	vertical-align: middle;
	background: $maroon;
	border-radius: $main-radius $main-radius 0 0 ;
	padding: 0;
	padding-top: $main-radius;
	& > h1 img {
		height: 89px;
	}
	& > nav {
		/* single-level drop downs */
		line-height: 1;
		float: left;
		width: 100%;
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}
		li {
			float: left;
		}
		a {
			display: block;
		}
		li ul {
			position: absolute;
			display: none;
			left: auto;
		}
		:hover > ul,
		:focus + ul {
			display: block;
		}

		/* pretty */
		background-color: #333333;
		li ul, li li {
			width: 10em;
		}
		a {
			display: block;
			padding: 1em;
			color: white;
			background-color: #333333;
			text-decoration: none;

			&:hover,
			&:focus {
				background-color: $gold;
			}
		}
	}
}

body > article {
	background: white; 
}

body > footer {
	background: #333333;
	color: #777777;
	vertical-align: top;
	font-size: 0.7em;
	border-radius: 0 0 $main-radius $main-radius;
	padding-top: 0;
	a {
		color: #777777;
		&:hover,
		&:focus {
			color: #bbbbbb;
		}
	}
	div {
		float: left;
		margin: 0 0.5em;
		max-width: 33%;
	}
	h3 {
		font-size: 1.1em;
		border-bottom: solid 1px #555555;
	}
	p {
		margin-bottom: 0;
	}
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		li {
			padding-left: 1em;
			&::before {
				margin-left: -1em;
				content: "- ";
			}
		}
	}
}
